<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<!-- Advice 클래스를 빈으로 등록 -->
	<bean id="preformanceTraceAdvice" class="wcms.aop.ProfilingAdvice"/>
	
	<!-- Aspect 설정 : Advice를 어떤 Pointcut에 적용할 지 설정 -->
	<aop:config>
		<aop:aspect id="traceAspect1" ref="preformanceTraceAdvice">
			<!-- 광범위하게 적용 : madvirus.spring.chap05.board 안에있는  모든 메소드에 적용 -->
			<aop:pointcut id="publicMethod" expression="execution(public * wcms.dao.impl..*(..))" />
			<aop:around pointcut-ref="publicMethod" method="trace"/>		
		</aop:aspect>	
		
		<aop:aspect id="traceAspect2" ref="preformanceTraceAdvice">
			<!-- 광범위하게 적용 : madvirus.spring.chap05.board 안에있는  모든 메소드에 적용 -->
			<aop:around pointcut="execution(public * wcms.service.impl..*(..))" method="trace"/>		
		</aop:aspect>	
	</aop:config>

</beans>